[build]
  publish = "out"
  command = "npm run build"

[build.environment]
  NEXT_PUBLIC_API_URL = "https://assign-ai-backend.onrender.com/api"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200